html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  background-color: orange;
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}